body {
  color: #eeffc9;
  background-color: #181816;
}

body, html {
  height: 100%;
  margin: 0;
}

.landing-UI {
  background-image: url("dungeon.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1#landing-title {
  display: block;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  font-size: 100px;
  font-family: fantasy;
  color: inherit;
  position: absolute;
  left: 800px;
  top: 120px;
}

p#landing-paragraph {
  display: block;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  font-size: 14px;
  font-family: fantasy;
  color: inherit;
  position: fixed;
  left: 5%;
  top: 82%;
}

h6.name {
  font-size: 40px;
  font-family: fantasy;
}

h2{
  font-family: fantasy;
  font-size: 50px;
  color: inherit;
  text-align: center;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* resize characters images */
.character-select img {
  display: block;
  max-width: 650px;
  max-height: 400px;
  margin-top: 50px;
  margin-left: 25px;
}

.col-md-8 {
  padding: 0 0 0 0;
  left: 500px;
  position: absolute;
  width: 900px;
}

#wizard, #warrior {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  display: block;
  max-width: 850px;
  max-height: 650px;
  position: absolute;
  top: 5%;
}

#archer {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  display: block;
  max-width: 850px;
  max-height: 650px;
  position: absolute;
  top: 5%;
  left: 15%;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  border-radius: 8px;
  box-shadow: 1px 1px 28px 2px #eeffc9;
  -webkit-box-shadow: 1px 1px 28px 2px #eeffc9;
}

#start-button {
  border-top: 1px solid #f4f797;
  background: #aba387;
  background: -webkit-gradient(linear, left top, left bottom, from(#f5f2a4), to(#aba387));
  background: -webkit-linear-gradient(top, #f5f2a4, #aba387);
  background: -moz-linear-gradient(top, #f5f2a4, #aba387);
  background: -ms-linear-gradient(top, #f5f2a4, #aba387);
  background: -o-linear-gradient(top, #f5f2a4, #aba387);
  padding: 13.5px 27px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  text-shadow: rgba(0, 0, 0, .4) 0 1px 0;
  color: #292129;
  font-size: 20px;
  font-family: Garamond, serif;
  text-decoration: none;
  vertical-align: super;
  left: 78%;
  position: relative;
  top: 86%;
  display: block;
  width: 220px;
  height: 50px;
  padding: 0 0 0 0;
}

#start-game {
  border-top: 1px solid #f4f797;
  background: #aba387;
  background: -webkit-gradient(linear, left top, left bottom, from(#f5f2a4), to(#aba387));
  background: -webkit-linear-gradient(top, #f5f2a4, #aba387);
  background: -moz-linear-gradient(top, #f5f2a4, #aba387);
  background: -ms-linear-gradient(top, #f5f2a4, #aba387);
  background: -o-linear-gradient(top, #f5f2a4, #aba387);
  padding: 13.5px 27px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  text-shadow: rgba(0, 0, 0, .4) 0 1px 0;
  color: #292129;
  font-size: 20px;
  font-family: Garamond, serif;
  text-decoration: none;
  vertical-align: middle;
  position: absolute;
  display: block;
  width: 220px;
  height: 50px;
  padding: 0 0 0 0;
  top: 88%;
  left: 76%;
}

.start-UI {
  display: block;
}


#back {
  border-top: 1px solid #f4f797;
  background: #aba387;
  background: -webkit-gradient(linear, left top, left bottom, from(#f5f2a4), to(#aba387));
  background: -webkit-linear-gradient(top, #f5f2a4, #aba387);
  background: -moz-linear-gradient(top, #f5f2a4, #aba387);
  background: -ms-linear-gradient(top, #f5f2a4, #aba387);
  background: -o-linear-gradient(top, #f5f2a4, #aba387);
  padding: 13.5px 27px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  text-shadow: rgba(0, 0, 0, .4) 0 1px 0;
  color: #292129;
  font-size: 20px;
  font-family: Garamond, serif;
  text-decoration: none;
  vertical-align: middle;
  position: absolute;
  display: block;
  width: 220px;
  height: 50px;
  padding: 0 0 0 0;
  top: 88%;
  right: 42%;
}

.panel {
  margin-right: 150px;
  margin-left: 10px;
  margin-top: 50px;
}

.dungeon-UI {
  display: none;
}

.combat-UI {
  display: none;
}

#death {
  color: darkred;
}

#action-panel {
  background-color: transparent;
  box-shadow: 1px 1px 28px 2px #5e97aa;
  -webkit-box-shadow: 1px 1px 28px 2px #5e97aa;
  padding: 10px;
}

.panel-heading {
  background-color: red;
  border: 2px solid black;
}

#combat-panel {
  color: white;
  background-color: transparent;
  width: inherit;
  height: 230px;
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
  font-family: Garamond, serif;
  font-size: 22px;
  margin: 0;
  padding: 0;
}


#combat-panel::-webkit-scrollbar {
   width: 12px;
}

#combat-panel::-webkit-scrollbar-track  {
   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
   -webkit-border-radius: 10px;
   border-radius: 10px;
}

#combat-panel::-webkit-scrollbar-thumb  {
   -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #e8ebef;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
 }

 #map-panel {
   color: white;
   background-color: transparent;
   width: inherit;
   height: 230px;
   overflow: auto;
   display: flex;
   flex-direction: column-reverse;
   font-family: Garamond, serif;
   font-size: 22px;
   margin: 0;
   padding: 0;
 }

 #map-panel::-webkit-scrollbar {
    width: 12px;
 }

 #map-panel::-webkit-scrollbar-track  {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
 }

 #map-panel::-webkit-scrollbar-thumb  {
    -webkit-border-radius: 10px;
     border-radius: 10px;
     background: #e8ebef;
     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  }



#attack-combat, #special-combat, #potion-combat, #run-combat, #northButton, #southButton, #eastButton, #westButton  {
  border-top: 1px solid #f4f797;
  background: #aba387;
  background: -webkit-gradient(linear, left top, left bottom, from(#f5f2a4), to(#aba387));
  background: -webkit-linear-gradient(top, #f5f2a4, #aba387);
  background: -moz-linear-gradient(top, #f5f2a4, #aba387);
  background: -ms-linear-gradient(top, #f5f2a4, #aba387);
  background: -o-linear-gradient(top, #f5f2a4, #aba387);
  padding: 13.5px 27px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  text-shadow: rgba(0, 0, 0, .4) 0 1px 0;
  color: #292129;
  font-size: 20px;
  font-family: Garamond, serif;
  text-decoration: none;
  vertical-align: middle;
  width: 220px;
  height: 50px;
  margin: 5px;
  padding: 0 0 0 0;
}

#northButton, #southButton, #eastButton, #westButton {
  border-top: 1px solid #f4f797;
  background: #aba387;
  background: -webkit-gradient(linear, left top, left bottom, from(#f5f2a4), to(#aba387));
  background: -webkit-linear-gradient(top, #f5f2a4, #aba387);
  background: -moz-linear-gradient(top, #f5f2a4, #aba387);
  background: -ms-linear-gradient(top, #f5f2a4, #aba387);
  background: -o-linear-gradient(top, #f5f2a4, #aba387);
  padding: 13.5px 27px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  text-shadow: rgba(0, 0, 0, .4) 0 1px 0;
  color: #292129;
  font-size: 20px;
  font-family: Garamond, serif;
  text-decoration: none;
  vertical-align: middle;
  width: 220px;
  height: 50px;
  margin: 5px;
  padding: 0 0 0 0;
}

#player-name-display {
  font-weight: bold;
}

#enemy-name-display {
  font-weight: bold;
}

#enemy-image {
  float: right;
}

#player-stats {
  padding-left: 55px;
}

#enemy-stats {
  padding-left: 440px;
}

#character-avatar {
  padding-left: 80px;
  margin-bottom: 50px;
}

#combat-images {
  margin-top: 70px;
}

#enemy-image {
  padding-right: 80px;
  margin-bottom: 50px;
}

progress {
  height: 9px;
  border: 0px none;
  background-color: #e8ebef;
  color: #fc2323;
}

progress::-webkit-progress-value {
  background-color: #fc2323;
}

progress::-webkit-progress-bar {
  background-color: #e8ebef;
}

progress#player-magic::-webkit-progress-bar {
  background-color: #e8ebef;
}

progress#player-magic::-webkit-progress-value {
  background-color: #5dc1e2;
}

progress#player-magic {
  height: 9px;
  border: 0px none;
  background-color: #e8ebef;
  color: #5dc1e2;
}

input[type=text] {
  border: none;
  border-bottom: 2px solid #eeffc9;
  background-color: transparent;
  color: white;
  width: 300px;
}

input[type=text]:active, input[type=text]:focus {
  background-color: transparent;
  box-shadow: 1px 1px 28px 2px #eeffc9;
  -webkit-box-shadow: 1px 1px 28px 2px #eeffc9;
}

.form-group {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  display: block;
  position: fixed;
  top: 60%;
  left: 69%;
}

ul {
  list-style-position: inside;
  padding-left: 0;
}

li.section span.title {
  /* margin: 0; */
  color: #5e97aa;
  font-family: Garamond, serif;
  font-size: 20px;
}

p {
  font-family: Garamond, serif;
  font-size: 20px;
}

.box.current {
  background-color: gold;
}

.box.explored {
  background-color: white;
}

.box.locked {
  background-color: silver;
  background-image: url("../img/Keyhole-PNG-Picture.png");
  background-size: contain;
}

.box.weapon {
  background-color: lightblue;
  background-image: url("../img/sword_icon.png");
  background-size: contain;
}

.box.potion {
  background-color: lightgreen;
  background-image: url("../img/potion_icon.png");
  background-size: contain;
}

.box.wall {
  background-color: gray;
  background-image: url("../img/bricks.png");
  background-size: contain;
}

.box {
  background-color: #444;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}

.wrapper {
  width: 600px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(8, 70px);
  grid-template-rows: repeat(8, 70px);
  grid-auto-flow: column;
  align-content: center;
  margin-top: 30px;
}

.container {
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 130px);
  grid-template-rows: repeat(3, 90px);

}
.grid-item {
  text-align: center;
}

.icon {
  height: 100px;
  width: 100px;
  margin-bottom: 40px;
  margin-left: 20px;
}
